<ul class="navbar-nav ml-auto" *ngIf="true">
  <li class="nav-item">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="menuUser"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Usuario
    </a>

    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="menuUser">
      <a class="dropdown-item dropdown" href="#"> Edit settings </a>
      <a class="dropdown-item" href="#"> Edit profile page </a>
      <a class="dropdown-item" href="#"> Show profile page </a>
      <a class="dropdown-item" href="#"> Create profile page </a>
    </div>
  </li>
</ul>
