<app-alert
  *ngIf="send.send && !send.loading && send.message"
  [color]="'success'"
  [message]="send.message"
></app-alert>

<app-spinner
  *ngIf="send.loading && send.send"
  [color]="'success'"
></app-spinner>

<div class="card">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <!-- columna izquierda -->
          <!-- input email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="juan@juan.es"
              formControlName="email"
              [class.is-invalid]="
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
              "
              [class.is-valid]="registerForm.get('email')?.valid"
            />
            <div
              class="invalid-feedback"
              *ngIf="registerForm.get('email')?.errors?.['email']"
            >
              El email no es válido.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="registerForm.get('email')?.errors?.['required']"
            >
              El email es obligatorio.
            </div>
          </div>
          <!-- input contraseña -->
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="******"
              formControlName="password"
              [class.is-invalid]="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
              [class.is-valid]="registerForm.get('password')?.valid"
            />
            <div
              class="invalid-feedback"
              *ngIf="registerForm.get('password')?.errors?.['required']"
            >
              La contraseña es obligatoria.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="registerForm.get('password')?.errors?.['minlength']"
            >
              La contraseña debe tener almenos
              {{ registerForm.get('password')?.errors?.['minlength'].requiredLength }}
              caracteres.
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- columna derecha -->
          <!-- input nombre -->
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="juan"
              formControlName="name"
            />
          </div>
          <!-- input apellidos -->
          <div class="mb-3">
            <label for="lastname" class="form-label">Apellidos</label>
            <input
              type="text"
              id="lastname"
              class="form-control"
              placeholder="navarro"
              formControlName="lastname"
            />
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Registrar
      </button>
    </form>
  </div>
</div>
